---
layout: layout 
title: Timothy Clare
---


{% for post in site.posts %}
<div class="post_meta">
	<div class="date">
		{{ post.date | date: "%B %e, %Y" }}
	</div>
	  
	<h2>
		<a href="{{ post.url }}">{{ post.title }}</a>
	</h2>
</div>

<div class="post_content">
	BLAH BLAH BLAH
	<!--<% if (Validations.isEmpty(news.getTeaser())) { %>
		<%=news.getStory()%>
	<% } else { %>
		<p>
			<%=news.getTeaser()%>&nbsp;
			<a href="<%=news.getPath()%>?print">More...</a>
		</p>
	<% } %> -->	
</div>
{% endfor %}
